.card-section {
    .card {
        text-align: center;
        border: none;
        border-radius: 10px;
        padding: 15px 20px 10px 20px;

        h3 {
            font-size: 26px;
            line-height: 39px;
            margin-bottom: 15px;
            font-weight: $font-sm-bold;
            color: $nevy-blue;
        }

        P {
            color: $gray;
            font-size: 12px;
            line-height: 18px;
        }

        &--style-2 {
            text-align: left;

            .chart__head {
                h3 {
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 10px;
                }
            }

            .chart__content {
                h2 {
                    font-size: 26px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 10px;
                    line-height: 12px;
                    margin: 0;
                }
                canvas{
                    margin-top: -20px;
                }
            }
            .bar_chart_bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;

                span{
                    color: $green;
                }
            }
        }
    }
}